/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da pasta */
body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Cabeçalho */

.header{
background-color: #696969;
color: #f4f4f4;
padding: 20px;
text-align: center;
position: fixed;
margin-top: 20px;
}

/* Banner */
.banner{
    background-color:#888c91;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
}

/* Sessão de produtos */
.products{
    margin: 20px;
    }

    /* Cards de produto */
    .product-card{
        background-color:#ddd ;
        border: 1px solid #6f1cc1;
        padding: 15px;
        margin-bottom: 15px;
        border-radius: 5px;

        position: relative;
        transition: 0.3s;
    }

    .product-card:hover{
        transform: scale(1.02);
        box-shadow: 0 5px 15px rgba(0,0,0,0.3);
        border-color: #6b0795;
    }

    /* Títulos */
    h2{
        margin-bottom: 10px;
    }

    /* Rodapé */
    .footer{
        background-color: #222;
        color: white;
        text-align: center;
        padding: 15px;
        margin-top: 20px;
    }
    
    nav ul li{
        display: inline-block;
        margin-right: 10px;
    }
    
    body{
        padding-top: 80px;
    }

    .nav-menu ul{
        list-style: none;
        margin-top: 10px;
    }
    .nav-menu a:hover{
        text-decoration: underline;
    }
    .badge{
        position: absolute;
        top: 10px;
        right: 10px;
        background: rgb(8, 8, 8);
        color: rgb(240, 243, 243);
        padding: 5px 8px;
        border-radius: 5px;
        font-size: 12px;
    }
